@-webkit-keyframes gradientBG {

    0%,
    to {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0)
    }

    50% {
        opacity: 1;
        -ms-filter: none;
        -webkit-filter: none;
        filter: none
    }
}

@keyframes gradientBG {

    0%,
    to {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0)
    }

    50% {
        opacity: 1;
        -ms-filter: none;
        -webkit-filter: none;
        filter: none
    }
}

:root {
    --default-img: url("../img/logo-white.png")
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

h1,
p {
    font-weight: 400
}

h1,
h3,
h4,
h5,
h6,
p {
    font-family: Zilla Slab
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 2rem;
    line-height: 4rem;
    font-style: normal;
    letter-spacing: 0;
    color: #e7e7e7;
    font-size: 2.8344976000000015em
}

h2,
h3,
h4,
h5,
h6,
p {
    font-family: Rye;
    font-size: 2.576816000000001em;
    font-weight: 600
}

h3,
h4,
h5,
h6,
p {
    font-size: 2.3425600000000006em
}

h4,
h5,
h6,
p {
    font-size: 2.129600000000001em
}

h5,
h6,
p {
    font-size: 1.9360000000000004em;
    line-height: 2rem
}

h6,
p {
    font-size: 1.7600000000000002em
}

p {
    font-family: Lato;
    font-size: 1.6em;
    color: #f3f1f1;
}

body,
html {
    height: 100%
}

html {
    font-size: 62.5%
}

body {
    width: 100%;
    max-width: 100%;
    font-size: 1.6rem;
    font-family: Lato;
    overflow-x: hidden !important;
    overflow-y: auto;
    -webkit-font-smoothing: antialiased;
    background-color: #2f2820;
    background-size: cover;
}

@media (max-width:650px) {
    body>* {
        overflow: hidden
    }
}

a {
    text-decoration: none;
    outline: 0
}

a:active,
a:focus {
    outline: 0
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch
}

button,
input {
    background: 0 0;
    border: 0;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    outline: 0
}

.cont {
    height: 100%;
    zoom: 1
}

.cont:after,
.cont:before {
    display: table;
    content: '';
    line-height: 0
}

.cont:after {
    clear: both
}

@media (max-width:980px) {
    .cont {
        height: auto
    }
}

.cont__inn {
    max-width: 145rem;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

@media (max-width:1350px) {
    .cont__inn {
        padding-left: 6rem;
        padding-right: 2rem;
        display: flex
    }
}

@media (max-width:980px) {
    .cont__inn {
        height: auto;
        display: block;
        padding: 4rem
    }
}

@media (max-width:480px) {
    .cont__inn {
        padding: 3rem
    }
}

.cont__content {
    float: left;
    width: 40%;
    height: auto;
    padding-top: 0;
    margin-top: -125px
}

@media (max-width:980px) {
    .cont__content {
        width: 100%;
        padding-top: 0;
        margin-top: 4rem;
        margin-bottom: 3rem
    }
}


.cont--gradient {
    /* background: -webkit-linear-gradient(43deg, rgba(0, 0, 0, .87) 0%, rgba(60, 41, 34, .7) 26%, rgb(74, 50, 42, .8) 82%),
        url(../img/bg-hero-ambient.jpg);
    background: -o-linear-gradient(43deg, rgba(0, 0, 0, .87) 0%, rgba(60, 41, 34, .7) 26%, rgb(74, 50, 42, .8) 82%),
        url(../img/bg-hero-ambient.jpg); */
    background: url(../img/bg-hero-ambient.jpg);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.cont--gradient:after {
    content: '';
    position: absolute;
    color: #ac9374;
    background: -webkit-linear-gradient(43deg, rgba(0, 0, 0, .87) 0%, rgba(60, 41, 34, .7) 26%, rgb(74, 50, 42, .8) 82%);
    background: -o-linear-gradient(43deg, rgba(0, 0, 0, .87) 0%, rgba(60, 41, 34, .7) 26%, rgb(74, 50, 42, .8) 82%);
    background: linear-gradient(43deg, rgba(0, 0, 0, .87) 0%, rgba(60, 41, 34, .7) 26%, rgb(74, 50, 42, .8) 82%);
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0)
}



.head__logo {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 1;
    -ms-filter: none;
    -webkit-filter: none;
    filter: none;
    width: 100%;
    margin: 0 auto
}

.head__logo img {
    height: 225px;
    text-align: center;
    margin: 0 auto
}

.head__logo:hover {
    opacity: .85;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    filter: alpha(opacity=85)
}

::-webkit-scrollbar {
    display: none
}

.content__cont {
    color: #fff;
    height: 100%
}

@media (max-width:980px) {
    .content__cont {
        height: auto
    }
}

@media (max-width:640px) {
    .content__cont {
        text-align: center
    }
}

.content__header {
    font-size: 4rem;
    line-height: 1em;
    margin-bottom: 2rem;
    font-weight: 600
}

@media (max-width:640px) {
    .content__header {
        font-size: 2.8rem
    }
}

.content__fbr {
    margin-bottom: 2rem;
    height: 150px;
    width: auto
}

.content__text {
    font-size: 2.2rem;
    line-height: 1.4em;
    /* opacity: .8; */
    font-weight: 500;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
}

@media (max-width:640px) {
    .content__text {
        font-size: 1.6rem;
        max-width: calc(100% - 7rem);
        margin: auto;
    }
}

.content__btns {
    margin: 4rem 0;
}

.content__note {
    position: fixed;
    left: 0;
    bottom: 6rem;
    width: 100%;
    font-size: 1.8rem;
    color: #fff
}

.content__note__text {
    line-height: 1.5
}

.content__note__anchor {
    color: #ac9374;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-decoration: underline
}

.content__note__anchor:hover {
    color: #fff
}

.content__note__inn {
    max-width: 125rem;
    margin: 0 auto;
    width: 100%
}

@media (max-width:1350px) {
    .content__note__inn {
        padding-left: 6rem
    }
}

@media (max-width:980px) {
    .content__note__inn {
        padding: 4rem
    }

    .content__note {
        position: static;
        text-align: center
    }
}

.quote__cont {
    width: 53%;
    float: right;
    padding-left: 4rem;
    height: 100%;
    opacity: .97
}

.quote__cont__inn {
    overflow: hidden;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    display: inline-block;
    width: 100%;
    padding: 3.6rem .8rem 6rem;
    zoom: 1
}



.quote__cont__inn:after,
.quote__cont__inn:before {
    display: table;
    content: '';
    line-height: 0
}

.quote__cont__inn:after {
    clear: both
}

.quote__cont__inn__row {
    margin-right: -3rem
}

@media (max-width:640px) {
    .quote__cont__inn__row {
        margin-right: 0
    }
}

@media (max-width:980px) {
    .quote__cont__inn {
        overflow: visible;
        height: auto;
        max-height: initial
    }
}

.quote__cont__col {
    width: 100%;
    float: left;
    padding-right: 3rem;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    column-gap: 3.5rem;
    padding-bottom: 10%
}

@media (min-width:980px) {
    .quote__cont__col:nth-child(2) {
        margin-top: 4.8rem
    }
}

@media (max-width:640px) {
    .quote__cont__col {
        width: 100%;
        padding-right: 0
    }
}

@media (max-width:980px) {
    .quote__cont {
        width: 100%;
        padding-left: 0;
        height: auto;
        transform: none
    }
}

.social-link-color {
    color: #e7e7e7;
    line-height: 2rem
}

.quote__card {
    background-color: #fff;
    padding: 2rem 2rem;
    position: relative;
    width: 100%;
    -webkit-box-shadow: 0 2px 5px 1px rgba(0, 0, 0, .26);
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, .26);
    margin-top: 4.5rem;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    display: inline-block;
    margin-bottom: 1rem;
}

.quote__card:hover {
    -webkit-box-shadow: 0 0 8px 2px transparent;
    box-shadow: 0 0 8px 2px transparent;
    -webkit-transform: translateY(.5rem);
    -ms-transform: translateY(.5rem);
    transform: translateY(.5rem)
}

.quote__card:hover .quote__img {
    -webkit-transform: scale(1.15) translateY(-42%);
    -ms-transform: scale(1.15) translateY(-42%);
    transform: scale(1.15) translateY(-42%)
}

.quote__image--img {
    width: 100%;
    margin-top: 0;
}

@media (max-width:640px) {
    .quote__card .quote__img {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        width: 7rem;
        height: 7rem;
    }

    .quote__card:hover .quote__img {
        -webkit-transform: scale(1.15) translateY(-50%) translateX(-50%);
        -ms-transform: scale(1.15) translateY(-50%) translateX(-50%);
        transform: scale(1.15) translateY(-50%) translateX(-50%)
    }
}

.quote__text {
    font-size: 2.1rem;
    font-weight: 300;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    line-height: 1.4;
    color: #797979;
    display: block;
    font-style: italic;
}

.quote__text__anchor,
.quote__user {
    color: #997f5f;
    font-size: 0.9em;
    display: block;
}

.quote__user {
    position: relative;
    left: auto;
    bottom: auto;
    font-size: 1.8rem;
    line-height: 2em;
    color: #a4a4a4;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.quote__user:hover {
    color: #997f5f
}

.quote__img {
    width: 6rem;
    height: 6rem;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, .2);
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

@media (max-width:640px) {
    .quote__img {
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%)
    }
}

.quote__date {
    position: relative;
    right: auto;
    bottom: auto;
    color: #a4a4a4;
    line-height: 1em;
    font-size: 1.3rem;
    margin-top: 0.5rem;
    display: block;
    text-align: right;
    margin-bottom: -1rem;
}

.btn {
    display: inline-block;
    color: #fff
}

.btn--regular {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: .1rem;
    line-height: 1em;
    text-transform: uppercase;
    padding: 1.3rem
}

.btn--underline {
    position: relative;
    padding-left: 3.5rem;
}

.btn--gradient:before,
.btn--underline:before {
    content: '';
    display: inline-block;
    position: absolute;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0)
}

.btn--underline:before {
    height: .14rem;
    -webkit-transform: translateX(-50%) scaleX(0);
    -ms-transform: translateX(-50%) scaleX(0);
    transform: translateX(-50%) scaleX(0);
    background-color: #fff;
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
    width: 94px;
    top: 78%;
    left: 50%;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    border-radius: .6rem;
    margin-left: 11px;
}

.btn--underline:hover {
    opacity: .9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90)
}

.btn--underline:hover:before {
    opacity: .7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -webkit-transform: translateX(-50%) scaleX(1);
    -ms-transform: translateX(-50%) scaleX(1);
    transform: translateX(-50%) scaleX(1)
}

.btn--rounded {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    border-radius: 5rem
}

.btn--gradient {
    background-image: linear-gradient(60deg, #745c2f 0%, #997f5f 25%, #ac9374 78%, #ffebaf 100%);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .13);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .13);
    position: relative;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin-right: 20px
}

.btn--gradient__text {
    display: inline-block;
    position: relative;
    z-index: 2;
    line-height: 17px;
    padding-left: 30px
}

.btn--gradient:before {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(210deg, #ffebaf 0%, #ac9374 25%, #997f5f 78%, #745c2f 100%);
    left: 0;
    top: 0;
    z-index: 1;
    border-radius: 5rem;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.btn--gradient:hover {
    -webkit-box-shadow: 0 3px 1px 0 rgba(0, 0, 0, .13);
    box-shadow: 0 3px 1px 0 rgba(0, 0, 0, .13)
}

.btn--gradient:hover:before {
    opacity: 1;
    -ms-filter: none;
    -webkit-filter: none;
    filter: none
}

.hero-scroll-link,
.wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.wrapper {
    z-index: 1;
    max-width: 145rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: transparent;
    position: relative;
    width: 100%
}

.wrapper.left {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
}

.hero-scroll-link {
    position: absolute;
    right: -110px;
    bottom: 60px;
    width: 120px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 3px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    text-decoration: none
}

.hero-scroll-link:hover {
    background-color: rgba(255, 255, 255, .05);
    text-decoration: none
}

.scroll-down-icon {
    margin-bottom: 0;
    margin-left: 12px
}

.hero-contact,
.hero-contacts-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center
}

.hero-contacts-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    z-index: 1;
    background: #faebd7;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-shadow: 0 1px 14px 0 #000;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center
}

.hero-contact {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    color: #efefef;
    padding: 16px 31px 16px 60px;
    font-size: 1.4rem;
    max-width: 32%
}

.hero-contact-icon {
    width: 42px;
    position: absolute;
    margin-left: -55px
}

.hero-contacts {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: transparent;
    justify-content: space-around
}

.hero-contacts-bg {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000fc;
    background-image: url(../img/bg-pattern.jpg);
    background-repeat: repeat-x;
    background-size: 11%;
    opacity: 1;
    filter: brightness(59%)
}

.link-color {
    -webkit-transition: color 100ms ease;
    transition: color 100ms ease;
    color: #ac9374
}

.hero-social,
.hero-social-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.hero-social {
    position: absolute;
    right: 24px;
    bottom: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, .3);
    text-align: left;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.hero-social-link {
    height: 40px;
    min-width: 136px;
    padding-right: 24px;
    padding-left: 16px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    -webkit-transition: background-color 100ms ease;
    transition: background-color 100ms ease;
    color: #fff;
    font-size: 13px;
    line-height: 20px
}

.hero-social-link:hover {
    background-color: rgba(255, 255, 255, .08);
    text-decoration: none
}

.hero-social-link.no-border {
    border-width: 0
}

.hero-social-icon {
    width: 24px;
    margin-right: 0;
    position: absolute;
    left: 0;
    margin-top: -4px
}

@media (max-width:991px) {
    .wrapper.side-paddings {
        padding-right: 8px;
        padding-left: 8px
    }

    .hero-scroll-link {
        display: none
    }

    .hero-contact,
    .hero-contacts-wrapper {
        width: 100%;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }

    .hero-contacts-wrapper {
        position: relative;
        padding-right: 0;
        padding-left: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch
    }

    .hero-contact {
        flex-direction: column;
        max-width: 100%;
        padding: 24px 16px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: left
    }

    .hero-contact-icon {
        margin-right: 0;
        margin-bottom: 16px
    }

    .hero-contacts {
        width: 100%;
        padding-right: 0;
        padding-left: 60px;
        box-shadow: 81px 0 0 0 #fff0, -81px 0 0 0 #fff0;
        flex-flow: column;
        text-align: center;
        align-items: center;
        justify-content: center
    }

    .hero-contacts-bg {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        background-color: #000000fc;
        background-image: url(../img/bg-pattern.jpg);
        background-repeat: repeat-x;
        background-size: 55%;
        opacity: 1;
        filter: brightness(59%)
    }

    .hero-social {
        position: relative;
        right: auto;
        bottom: auto;
        margin-right: 8px;
        margin-bottom: 40px;
        margin-left: 8px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row
    }

    .hero-social-link {
        height: 48px;
        min-width: 0;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        border-right: 1px solid rgba(255, 255, 255, .3);
        border-bottom-style: none;
        font-size: 15px
    }
}

@media (max-width:767px) {
    .hero-contact {
        width: 100%;
        padding-top: 24px;
        padding-bottom: 24px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: left
    }

    .btn--underline {
        margin: 2rem;
    }

    .hero-contact-icon {
        width: 39px
    }

    .hero-contacts {
        padding-top: 32px;
        padding-bottom: 32px;
        flex-flow: column
    }

    .quote__cont__col {
        padding-right: 0;
        -webkit-columns: 1;
        -moz-columns: 1;
        columns: 1
    }


}


.head__cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem
}

.hero-contact-title {
    display: block;
    width: 100%;
    clear: both;
    position: relative;
    font-size: 2rem;
    color: #fff
}

.hero-contact-live,
.hero-contact-subtitle {
    display: block;
    width: 100%;
    clear: both;
    position: relative;
    line-height: 2rem
}

.hero-contact-live {
    color: #dfc998;
    line-height: 2.2rem;
    font-weight: 600
}

.hero-contact-live .hero-social-icon {
    width: 1.5rem;
    position: relative
}

.hero-contact-link {
    line-height: 3rem
}

.fb-like.fb_iframe_widget {
    opacity: .9;
    /* padding: 20px 0; */
    filter: grayscale(.23);
}

#closed.hero-contact-live {
    color: #cd5c5c
}

#open.hero-contact-live {
    color: #49dc49
}

@media (max-width:650px) {
    .cont__inn {
        display: block;
        padding: 0
    }


}

.iframe {
    width: 100%;
    margin: 0 auto;
    display: none;
    background: black;
}

iframe {
    margin: 0 auto;
}

.exibe {
    display: flex;
    overflow: hidden;
}

@media (max-width:640px) {
    .head__cont {
        text-align: center
    }

    .cont--gradient {

        background-position: left;
    }


}

.only-mobile {
    display: none;
}

@media (max-width:479px) {

    .hero-contact,
    .hero-contacts-wrapper {
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start
    }

    .hero-contact {
        width: 100%;
        padding-top: 24px;
        padding-bottom: 24px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        padding-left: 15%
    }

    .hero-contact-icon {
        margin-right: 16px;
        margin-bottom: 0
    }

    .hero-contacts {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        flex-flow: column;
        padding: 16px 16px 16px 60px;
        margin: 0 auto;
        width: 100%
    }

    .hero-social {
        margin-bottom: 48px
    }

    .hero-social-link {
        height: 40px;
        padding-right: 12px;
        padding-left: 12px
    }

    .hero-social-icon {
        margin-right: 0
    }

    .hero-social-text {
        display: none
    }

    .only-mobile {
        display: block;
    }
}